@media (max-width: 900px) {
    #yearPlanControls { margin: 10px auto; padding: 0 }
    body, #virtuescopeContainer, #canvasContainer, #yearPlanControls { width: 99%; display: block; }
    body { width: 100%; margin: 0 }
    #canvasContainer { width: 650px !important; min-width: 650px; margin-left: auto; margin-right: auto; }
    #spinContainer { width: 100%; margin-top: -50px }
    #startIt { margin: 0 auto; display: block; }
    #myCanvas { margin: 0 auto; display: block; }
    #plansFormDiv, #plansForm { width: 100% }
    #plans-button { margin: 20px auto; display: block; }
    #yearPlanRestartRow { display: none }
    #textDisplay { min-height: 50px; font-size: 1.0em; padding: 0 3px; }
    #spinContainer { padding-top: 20px }
    #virtuescopeContent { width: 95%; margin: 0 auto 90px auto }
    .month { width: 45%; margin-left: 10px; }
    #plansFormDiv { display: block }
    #spinner { position: initial }
    #yearPlanTitle { font-size: 90% }
    #virtuescopePredictions { font-size: 125%; padding-left: 6px; }
    #plans { display: block; margin: 14px auto; }
    #introText {
        text-align: center;
    }
}

@media (max-width: 650px) {
    #canvasContainer { width: 100% !important; min-width: 100px; }
}